[Dd]ebug/
[Rr]elease/
x64/
[Bb]in/
[Oo]bj/
/.vs/ClubDeportivo/FileContentIndex/807c3085-dee4-48b9-90c8-beabc0dc0070.vsidx
/.vs/ClubDeportivo/FileContentIndex/4b149846-dab9-43da-9805-a0ed9ca29597.vsidx
/.vs/ClubDeportivo/FileContentIndex/71dccbfc-b6af-428b-b9f3-c6c67ee3c58c.vsidx
/.vs/ClubDeportivo/FileContentIndex/3726c7e8-9466-4d3d-9334-3a4de6fe3ef8.vsidx
/.vs/ClubDeportivo/FileContentIndex/3ab35225-8f4b-4237-8cac-aeedd5f69c86.vsidx
/.vs/ClubDeportivo/FileContentIndex/5957c493-18eb-4a63-a978-bfee3315d9cd.vsidx
/.vs/ClubDeportivo/FileContentIndex/9b73f47d-f42b-4eba-beb7-cf6a207f1173.vsidx
/.vs/ClubDeportivo/FileContentIndex/a71abbb9-88d9-4b3d-a22c-ca656177b237.vsidx
/.vs/ClubDeportivo/FileContentIndex/f8f57d52-771b-46cc-a477-abec0949834d.vsidx
/.vs/ClubDeportivo/FileContentIndex/5f111db1-53cf-4114-8e90-65df13a0d723.vsidx
/.vs/ClubDeportivo/FileContentIndex/02df5c52-52f4-4c24-b4b5-fd05d7afed80.vsidx
/.vs/ClubDeportivo/FileContentIndex/07e49e50-0e1d-4ce8-bf66-5d51c630459f.vsidx
/.vs/ClubDeportivo/v17/.suo
/.vs/ClubDeportivo/FileContentIndex/